* {
    box-sizing: content-box;
}

body {
    background-color: beige;
    margin-left: 30px;
    margin-right: 30px;
}
h1 {
    font-size: 24px;
}
main {
    margin-top: 25px;
}
footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#upload {
    margin-top: 20px;
}

#upload * {
    margin-left: auto;
    margin-right: auto;
}

#drop-area{
    width: 400px;
    height: 200px;
    border: 6px solid gray;
    border-radius: 12px;
    background-color: white;
    background-blend-mode: screen;
}

#drop-area #name {
    width: 400px;
    height: 200px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #ccc;
    font-size: 36px;

    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

.form-upload {
    margin-top: 10px;
    text-align: center;
}

#gallery {
    padding: 10px;
    border: 10px solid gray;
    border-radius: 10px;
    background-color: white;
}