* {
    box-sizing: content-box;
}

body {
    background-color: beige;
    margin-left: 30px;
    margin-right: 30px;
}
h1 {
    font-size: 24px;
}
main {
    margin-top: 25px;
}
footer {
    margin-top: 20px;
    text-align: center;
}

#upload {
    margin-top: 20px;
}

#upload * {
    margin-left: auto;
    margin-right: auto;
}

#drop-area{
    width: 400px;
    height: 200px;
    border: 6px solid gray;
    border-radius: 12px;
    background-color: white;
    background-blend-mode: screen;
}

#drop-area #name {
    width: 400px;
    height: 200px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #ccc;
    font-size: 36px;
}

.form-upload {
    margin-top: 10px;
    text-align: center;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
}
